body{
    background-color: #404258;
}

.cell{
    background-color: #6B728E;
    border-color: #50577A !important;
}

.btn-item{
    height: 100px;
    width: 100px;
}

button.bg-gradient:hover{
    background-color: #50577A;
}

.active-btn-item{
    background-color: #50577A;  
    border-color: #6B728E !important;
}

@keyframes pop-anim{
    70%{
        width: 95%;
        height: 95%;
    }
    to{
        width: 80%;
        height: 80%;
    }
}

.pop{
    animation-name: pop-anim;
    animation-duration: 0.3s;
}